BasedOnStyle: WebKit
TabWidth: 4
IndentWidth: 4
UseTab: Never
ColumnLimit: 0

---
Language: Cpp

AllowShortIfStatementsOnASingleLine: true 
AllowShortLoopsOnASingleLine: true
AlignTrailingComments : true

BreakBeforeBraces: Custom
BraceWrapping: {
    BeforeElse : 'true'
}